.footer {
    background-color: $color-secondary;

    grid-column: full-start / full-end;
    padding: 8rem;
}

.copyright {
    font-size: 1.4rem;
    color: $color-grey-light-2;
    margin: 6rem auto 0;
    text-align: center;
    width: 70%;
}